<!DOCTYPE html>
<html>
    <head>
        <title>Merchant Data API</title>
    </head>
    <body>
        <h1>Endpoint:</h1>
        <h2>/get_answer</h2>
        <div style="margin-top: 40px ;">
            <h3>Request</h3>
            <p>Method : <b>POST</b></p>
            <b>Body:</b><p style="padding: 10px 10px; background-color: #000; color: #fff;"> { "prompt" : "____Your prompt here____" }</p>
        </div>
        <div style="margin-top: 40px ;">
            <h3>Response</h3>
            <b>Format:</b> <p style="padding: 10px 10px; background-color: #000; color: #fff;">{ "answer" : "____" }</p>
        </div>
    </body>
</html>